{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <header class="d-flex masthead" style="background-image:url('static/img/bg-masthead.jpg');">
        <div class="container my-auto text-center">
            <h1 class="mb-1">To Do Website</h1>
            <h3 class="mb-5"><em>Yash Chauhan J017</em></h3>
            <div class="overlay"></div>
        </div>
    </header>
    <section id="about" class="content-section bg-light">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2></h2>
                    <p class="lead mb-5"><span>To Do Website to keep track of everything you do in a day</span><span>!</span></p>
                    {% if user.is_authenticated %}
                    <a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="{% url 'signup' %}" style="margin-right: 105px;">Sign Up</a><a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="{% url 'login' %}">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="mb-5">See Recent Projects</h2><a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="{% url 'dashboard' %}" style="margin-right: 0;">Dashboard</a>
            </div>
        </div>
    </section>
{% endblock %}
    